<!DOCTYPE html>
<html>
<head>
    <title>Appointment Summary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="editdetails.css">
    <link rel="stylesheet" href="profile.css">
    <script src="../js/appSummary.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-head">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Welcome</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="/doctorSchedule">My Schedule</a></li>
                <li><a href="/appHistory">Appointments History</a></li>
                <li><a href="/doctoreditdetails">Update Details</a></li>
                <p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">Log out</a></p>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div id="detailsbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Enter Summary, <%= pid %>, <%= pname %>, <%= date %> </div>
            </div>
            <div class="panel-body">
                <form action="/appSummary?pid=<%= pid %>" method="post" id="docprofileform" class="form-horizontal"
                      role="form">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                        <textarea class="form-control" name="sum" id="sum" rows="6"></textarea>
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <div class="col-sm-12 controls">
                                <button id="btn-submit" href="#" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </form>

                <A HREF="javascript:window.print()">
                    <button id="btn-print" href="#" class="btn btn-info">print</button>
                </A>

            </div>
        </div>
    </div>
</div>

<script>        // TODO - seperate to js file
    
var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};


if( isMobile.any() )
    $("#btn-print").hide();

</script>

</body>
</html>