body {
    padding-top:120px;
    word-wrap: break-word;
}

#table-container{
    margin: 0 auto;
    width: 98%;
}


.panel-heading {
    text-align: center;
}

table{
    border: 1px;
}

td{
    width: 33%;
}

.patientName{
    background-color: #0b97c4;
}